{% extends 'base.html' %}


{% block section %}
<div style="background: white; border-radius: 40px 40px 40px 40px;">
        <h3 style="margin-left: 50px; padding: 1em;">Enlace enviado a tú correo.</h3>
        <br>
        <h4  style="margin-left: 73px;">Revisa tú bandeja y sigue los pasos para reestablecer tú contraseña.</h4>

        <img class="gif_animado" src="static/img/correo_enviado.gif" alt="" style="width: 11em; height: 9em; margin-top: 2em; margin-left: 67em;">
</div>
<br>

<br>
{% endblock %}