{% extends 'base.html' %}

    {% block title %}{{ ofertas_detail.cargo }}{% endblock %}

{% block section%}

    <h1>{{ ofertas_detail.cargo }}</h1>
    <h2>{{ ofertas_detail.owner }}</h2>
    <hr>
    <h5>Descripción del cargo: {{ ofertas_detail.descripcion_cargo }}</h5>
    <h5>Ubicación: {{ ofertas_detail.ciudad }}</h5>
    <h5>Fecha: {{ ofertas_detail.fecha_contratacion }}</h5>
    <h5>Renta: {{ ofertas_detail.sueldo }}</h5>
    <h5>Jornada: {{ ofertas_detail.tipo_jornada }}</h5>
    <h5>Contratación: {{ ofertas_detail.tipo_contrato }}</h5>
    <br>
    <br>
    <br>
    <div>
        <a href="{{ 'postular' }}">
            <button class="btn btn-primary" type="submit" name="postular">Postular</button>
        </a>
    </div>

{% endblock %}

