{% extends 'base.html' %}

{% block section %}
    <h1>Portal de trabajos en salud</h1>
    <h4>Últimos cargos requeridos</h4>

    {% if descripcion_list > 0 %}
        {% for cargo in descripcion_list %}
            <ul>
                <li>
                    {{ cargo.cargo }} | {{ cargo.ciudad }}
                    <a href="{% url 'ofertas_detail' cargo.pk %}">
                        <button>Ver</button>
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        No hay ofertas laborales
    {% endif %}
{% endblock %}