{% extends 'base.html' %}






{% block section %}
<div>
    <h1 class="titulo-home">Portal de trabajos en salud</h1>
</div>

<br>
<br>

<div class="container-fluid">
<div class="main">
    <div class="slides">
        <a href="http://idnews.idaccion.com/7-claves-para-emular-el-exito-de-jack-ma-fundador-de-alibaba/" target="_blank"><img src="static/img/image1.jpg" alt=""></a>
        <a href="https://cazatutrabajo.com/como-conseguir-trabajo-en-internet/" target="_blank"><img src="static/img/imagen2.jpeg" alt=""></a>
        <a href="https://www.youtube.com/watch?v=MqO2aCjOuS4" target="_blank"><img src="static/img/image3.jpg" alt=""></a>
    </div>
</div>
    </div>

<br>
<br>

<div class="container-fluid last_cargos">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h2>Últimos cargos requeridos</h2>
                <br>
                <br>
                <div style="padding:0;" class="container-fluid">
                    <div class="row">
                        <div class="col-md 12">
                            {% if descripcion_list > 0 %}
                            {% include 'ofertas/ofertas_loop.html' %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <p><a style="margin-left: 10em;" class="btn btn-primary btn-lg" href="{{ 'ofertas/' }}" role="button">Ver más ofertas</a></p>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/static/img/luis_felipe.jpg" alt="...">
            <div class="caption">
                <h3>Luis Felipe Vergara</h3>
                <p>Gracias a Jobs, mi vida cambió rotundamente</p>
                <p><a href="#" class="btn btn-default" role="button">**Saber más...</a></p>
            </div>
        </div>
    </div>
</div>













    {% else %}
        No hay ofertas laborales
    {% endif %}
{% endblock %}