{% extends 'base.html' %}

{% block title %} Listado de ofertas {% endblock %}


{% block section %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h1>Listado de ofertas actuales</h1>
                <br>
                <br>
                {% include 'ofertas/ofertas_loop.html' with descripcion_list=ofertas %}
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pager">
                <li style="margin-left:65em;"><a href="#">*Siguiente</a></li>

            </ul>
        </nav>
    </div>

{% endblock %}