{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Jobs, el portal de trabajos en salud {% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-Pu87tkhdc8aoo+5M/Coc7ErjxhR36ayOFNloPU+tR/4PamJKHHjhK9B0EBGKxNet" crossorigin="anonymous">-->

    <style>
        .header{
            background: #5F70C7;
            padding-top: 20px;

        }

        .header li a{
            color: white;
        }

        .footer{
        top: 150px;
        }

    </style>

</head>
<body>
{% block navbar %}
<div class="container-fluid">
    <header class="row">
        <div class="header col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="{% url 'ofertas_home' %}">Home</a></li>
                <li><a href="{% url 'registrar' %}">Registrarse</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'ofertas_list' %}">Listado de ofertas</a></li>
                <li><a href="{% url 'crear_oferta' %}">Subir oferta</a></li>
                <li><a href="{% url 'users_logout' %}">Salir</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
</div>
{% endblock %}
<hr>

<div class="container">
    <div class="row">
        <section class="section col-md-12">
            {% block section %} {% endblock %}
        </section>
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <footer class="footer col-md-12 panel-footer">
            {% block footer %}
            <h3 align="right">Portal Jobs</h3>
            <h6 align="right">Jobs Inc &copy; Todos los derechos reservados</h6>
            {% endblock %}
        </footer>
    </div>
</div>








    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>